.container__blog {
  position: relative;

  &__heading {
    margin-bottom: 2rem;
  }
  
  &__heading:before{
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    top: 25px;
    left: 0;
    right: 0;

  }

  &__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color:black;
    display: inline-block;
    background: #fff;
    position: relative;
    padding: 0 15px;
  }
}
