.eworld-product {


    .product-filter {
       
    }
    
    .product-list {

       
    
        &_items{
    
            .product-list_viewmore {
                width: 100%;
                
                .product-list_viewmore__btn {
        
                    color: #fff;
                    background: #000;
                    border: 1px solid #000;
                    line-height: inherit;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 26px;
                    
                    
                    &:hover {
                        color: #fff;
                        background: #34d264;
                        border: 1px solid #34d264
                    }
        
                }
            }
    
        }
    }
}

